<div class="container d-flex flex-nowrap flex-column align-items-center mt-3">
  {{!-- 篩選類別Filter --}}

  <form action="/filter" method="GET" class="form-inline mb-2 flex-column flex-md-row align-items-around">
    <div class="input-group d-flex flex-nowrap mr-sm-3 mb-2 mb-sm-0">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
      </div>

      <select class="form-control" id="recordCategory" name="category">
        <option disabled selected value>Choose</option>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-group d-flex flex-nowrap mb-2 mb-sm-0">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect02">Month</label>
      </div>

      <select class="form-control" id="recordMonth" name="month">
        <option disabled selected value>Choose</option>
        {{#each months}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <button type="submit" class="btn  btn-light ml-3 myBtn" style="border: 1px solid #ced4da">Show</button>
      <a href="/"><button type="button" class="btn  btn-light ml-1 myBtn"
          style="border: 1px solid #ced4da">Clear</button></a>
    </div>

  </form>

  <div style="width: 600px; max-width: 100%;">
    <canvas id="myChart"></canvas>
  </div>
  {{!-- 總金額totalAmount  --}}
  <div class="d-flex justify-content-around mt-3" style="width: 100%;">
    <div>
      <div class="text-center">Balance</div>
      <div style="font-size: 28px; font-weight: 600;"><span>$ </span><span id="balanceAmount">{{balanceAmount}}</span>
      </div>
    </div>

    <div class="ml-3 mr-3">
      <div class="text-center">Expense</div>
      <div style="font-size: 28px; font-weight: 600;"><span>$ </span><span id="totalExpense">{{totalExpense}}</span>
      </div>
    </div>

    <div>
      <div class="text-center">Income</div>
      <div style="font-size: 28px; font-weight: 600;"><span>$ </span><span id="totalIncome">{{totalIncome}}</span>
      </div>

    </div>

  </div>

  {{!-- 花費細項Detail --}}


  <div class="container mt-2" style="width: 950px; max-width: 100%; overflow: scroll">
    {{#each records}}
    <div class="row">
      {{#if this.isExpense}}
      <div class="col-1">EX</div>
      {{else}}
      <div class="col-1">IN</div>
      {{/if}}
      <div class="col-1 categoryIcon">
        {{this.category}}
      </div>
      <div class="col-5">
        <div>{{this.name}}</div>
        <div>{{this.date}}</div>
      </div>
      <div class="col text-right">{{#if this.isExpense }}<span>-</span>{{/if}}${{this.amount}}</div>
      <div class="col">
        <div class="d-flex flex-nowrap justify-content-center">
          <a class="link mr-2" href="/records/{{this._id}}/edit"><i class="far fa-edit" id="edit-icon"
              style="font-size: 1.5rem;color: #264653"></i>
          </a>
          <form action="/records/{{this._id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-link m-0 p-0" style="border: none; text-decoration:none">
              <i class="far fa-trash-alt" id="delete-icon" style="font-size: 1.5rem; color: #264653">
              </i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}



  </div>
  <div class="mt-3">
    <form class="align-self-baseline" action="/records/new" method="GET">
      <button type="submit" class="btn addBtn"
        style="width: 200px; background-color:#264653; color: #fff; transition: opacity 0.3s">Add</button>
    </form>
  </div>


</div>

<script src="/javascripts/icon.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/graph.js"></script>
{{!-- <script src="/javascripts/graph.js"></script> --}}