<div class="container d-flex flex-nowrap flex-column align-items-center mt-4">
  {{!-- 篩選類別Filter --}}
  <form action="/filter" method="GET" class="form-inline mb-3">
    <div class="input-group d-flex flex-nowrap mr-3 mb-2 mb-sm-0">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Category</label>
      </div>

      <select class="form-control" id="recordCategory" name="category">
        <option disabled selected value>Choose</option>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-group d-flex flex-nowrap">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect02">Month</label>
      </div>

      <select class="form-control" id="recordMonth" name="month">
        <option disabled selected value>Choose</option>
        {{#each months}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <button type="submit" class="btn  btn-outline-primary ml-3">Show</button>
    <a href="/"><button type="button" class="btn  btn-outline-primary ml-1">clear</button></a>
  </form>

  {{!-- 總金額totalAmount  --}}
  <div class="d-flex flex justify-content-center align-items-center flex-wrap mt-2">
    <div>
      <h3 class="text-center">Balance</h3>
      <span class="badge badge-pill badge-primary px-5 py-2">
        <h2 class="p-0 m-0">$ {{balanceAmount}}</h2>
      </span>
    </div>

    <div>
      <h3 class="text-center">Expense</h3>
      <span class="badge badge-pill badge-primary px-5 py-2">
        <h2 class="p-0 m-0">$ {{totalExpense}}</h2>
      </span>
    </div>

    <div>
      <h3 class="text-center">Income</h3>
      <span class="badge badge-pill badge-primary px-5 py-2">
        <h2 class="p-0 m-0">$ {{totalIncome}}</h2>
      </span>
    </div>

  </div>

  {{!-- 花費細項Detail --}}
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th style="text-align: center;" scope="col">Type</th>
        <th style="text-align: center;" scope="col">Category</th>
        <th style="text-align: center;" scope="col">Merchant</th>
        <th style="text-align: center;" scope="col">Name</th>
        <th style="text-align: center;" scope="col">Time</th>
        <th style="text-align: center;" scope="col">Amount</th>
        <th style="text-align: center;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each records}}
      <tr>
        {{#if this.isExpense}}
        <td style="text-align: center;">Expense</td>
        {{else}}
        <td style="text-align: center;">Income</td>
        {{/if}}

        <td style="text-align: center;" scope="row">{{{this.category}}}</td>
        <td style="text-align: center;">{{this.merchant}}</td>
        <td style="text-align: center;">{{this.name}}</td>
        <td style="text-align: center;">{{this.date}}</td>

        <td style="text-align: center;">
          {{#if this.isExpense }}<span>-</span>{{/if}}{{this.amount}}
        </td>
        <td style="text-align: center;">
          <div class="d-flex flex-nowrap justify-content-center">
            <a class="link mr-2" href="/records/{{this._id}}/edit"><i class="far fa-edit" id="edit-icon"
                style="font-size: 1.5rem;"></i>
            </a>
            <form action="/records/{{this._id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-link m-0 p-0" style="border: none; text-decoration:none">
                <i class="far fa-trash-alt" id="delete-icon" style="font-size: 1.5rem;">
                </i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td class="text-center" colspan="8">
          <form action="/records/new" method="GET">
            <button type="submit" class="btn btn-outline-warning" style="width: 200px;">Add</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>